In [3]:
import pandas as pd

In [ ]:
df = pd.read_sql('amazon_orders',con = 'sqlite:///app_base.db').dropna()
df

,index,order_date,order_id,shipping_type,cod_prepaid,cod_amount,max_shipping_date,item_title,condition,sku_id,quantity,price,Shipping_fees,amazon_fees,cod_fees
0,0,2025-05-04 12:13:57+00:00,402-8011422-3979556,Standard Shipping,0.00,215.00,06/05/2025,"Wooden 3D Puzzle, Set of 4 Cartoon Train Hot-...",New,VY-ZYXY-BQMS,1,177.00,26.00,42.08,12.00
1,1,2025-05-04 06:13:55+00:00,406-1540229-6779502,Standard Shipping,None,None,06/05/2025,"ASNEY Upgraded Magnetic Chess Set, 15"" Tourna...",New,P4-CY9C-EK9G,1,377.00,26.00,59.72,None
2,2,2025-05-02 21:12:58+00:00,404-3781492-0928354,Standard Shipping,None,None,04/05/2025,Toys Penguin Boat Pirate Balance Game - Toys ...,New,WX-PX8J-VEL7,1,297.00,26.00,47.87,None
3,3,2025-05-02 00:35:47+00:00,405-7320250-1113139,Standard Shipping,0.00,713.00,04/05/2025,Intex 56590 My First Swim Float,New,QP-VGG3-1RLF,1,675.00,26.00,115.89,12.00
4,4,2025-05-01 20:51:01+00:00,407-1772662-1363537,Standard Shipping,None,None,04/05/2025,"Wooden 3D Puzzle, Set of 4 Cartoon Train Hot-...",New,VY-ZYXY-BQMS,1,177.00,26.00,30.08,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,495,2024-03-17 21:36:10+00:00,None,None,None,None,None,None,None,None,None,None,None,None,None
496,496,2024-03-17 14:50:04+00:00,None,None,None,None,None,None,None,None,None,None,None,None,None
497,497,2024-03-17 10:31:49+00:00,None,None,None,None,None,None,None,None,None,None,None,None,None
498,498,2024-03-17 06:09:31+00:00,None,None,None,None,None,None,None,None,None,None,None,None,None
499,499,2024-03-16 23:04:52+00:00,None,None,None,None,None,None,None,None,None,None,None,None,None

In [21]:
df['order_id']

0       402-8011422-3979556
1       406-1540229-6779502
2       404-3781492-0928354
3       405-7320250-1113139
4       407-1772662-1363537
               ...
495                    None
496                    None
497                    None
498                    None
499                    None
Name: order_id, Length: 500, dtype: object